body { font-family: courier; font-size: 12px; }
.container {max-width:510px;}
#speech{border-style:dotted;border-color:#c3c3c3;padding:10px;font-size:24px;color:#00ff00;width:100%;text-align:center;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;margin: 0 0 10px;}
.mv_buttons{height: 162px;width: 33%;font-size: 35px;float: left;margin: 0 0 10px;}
.middle_btn {margin: 0 0.5% 10px;} 
